export {{ apache_hive_base_name }}_HOME={{ apache_hive_base_path }}/apache-hive-{{ apache_hive_version }}-bin
export PATH=$PATH:${{ apache_hive_base_name }}_HOME/bin:${{ apache_hive_base_name }}_HOME/conf