[Desktop Entry]
Version=1.0
Type=Application
Name={{ shortcut_title }}
Icon=/usr/local/idea/bin/idea.svg
Exec="{{ shortcut_command }}" %f
Comment={{ shortcut_comment }}
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea-ce