##################################
#   _     ___ _   _ _   ___  __  #
#  | |   |_ _| \ | | | | \ \/ /  #
#  | |    | ||  \| | | | |\  /   #
#  | |___ | || |\  | |_| |/  \   #
#  |_____|___|_| \_|\___//_/\_\  #
##################################                                               

- name: Install and configure basics for Linux
  block:
    - import_tasks: linux-tasks/modify-repository-url.yml
      when: change_mirror 

    - name: test default graphical distro
      shell: systemctl get-default
      register: default_runlevel
      changed_when: false

    - import_tasks: linux-tasks/common.yml

    - import_tasks: linux-tasks/disable-lock-screen.yml

    - import_tasks: linux-tasks/remove-plymouth.yml

    - import_tasks: linux-tasks/terminal-shortcuts.yml

    - import_tasks: linux-tasks/users.yml

    # =============== CentOS ============================
    # ===================================================
    - import_tasks: linux-tasks/lang.yml
      when: ansible_distribution == 'CentOS'

    - import_tasks: linux-tasks/timezone.yml
      when: ansible_distribution == 'CentOS'

    - import_tasks: linux-tasks/install-desktop-environment.yml
      when: 
        - ansible_distribution == 'CentOS'
        - default_runlevel.stdout == 'graphical.target'
    # ===================================================

    # =============== Fedora ============================
    # ===================================================
    - import_tasks: linux-tasks/remove-keyring.yml
      when: ansible_distribution == 'Fedora'

    - import_tasks: linux-tasks/disable-zram.yml
      when:
        - ansible_distribution == "Fedora"
        - disable_zram == true

    - import_tasks: linux-tasks/locale-and-keyboard-settings.yml
      when: ansible_distribution == 'Fedora' and ansible_distribution_major_version == '37'

    - import_tasks: linux-tasks/disable-autorun-aplications-on-login.yml
      when: ansible_distribution == 'Fedora' 
    # ===================================================
  when:
    - ansible_windows_domain is undefined

#######################################################
#  __        _____ _   _ ____   _____        ______   #
#  \ \      / /_ _| \ | |  _ \ / _ \ \      / / ___|  #
#   \ \ /\ / / | ||  \| | | | | | | \ \ /\ / /\___ \  #
#    \ V  V /  | || |\  | |_| | |_| |\ V  V /  ___) | #
#     \_/\_/  |___|_| \_|____/ \___/  \_/\_/  |____/  #
####################################################### 

- name: Windows common
  block:
    - import_tasks: windows-tasks/license.yml
    - import_tasks: windows-tasks/disable-automatic-updates.yml
    - import_tasks: windows-tasks/disable-pass-complexity.yml
    - import_tasks: windows-tasks/user.yml
    - name: Reboot and loggin as {{base_username}}
      win_reboot:
    - import_tasks: windows-tasks/firewall.yml
    - import_tasks: windows-tasks/common-sw.yml
  when: 
    - ansible_windows_domain is defined
